doctype html
html(lang=config.language)
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="google-site-verification" content="YstW8jpLjJe7aMxV2YWJ9EJRKqosdK1Tgm4my7dPEr0")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5")
        title=config.title
        meta(name="author" content=config.author)
        !=favicon_tag(config.favicon || theme.favicon || '/favicon.ico')
        script(src=url_for("/js/copy-tex.min.js"))
        each item in theme.CDN_USE.css
            link(rel='stylesheet', href=url_for(item))
        link(rel="stylesheet", href=url_for("/css/katex.css"))
    body
        header#page_header
            include ./header.pug
        main#page_main
            block wrap_content
                include ./side-card.pug
                block content
        include ./mobile-nav.pug
        footer#page_footer
            include ./footer.pug
        each item in theme.CDN_USE.js
            script(src=url_for(item))